* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: #0f0f0f;
  color: #fff;
  min-height: 100vh;
}

/* FORM */
.form-container {
  width: 360px;
  margin: 40px auto;
  background: #1e1e1e;
  padding: 25px;
  border-radius: 14px;
  box-shadow: 0 10px 40px rgba(0,0,0,0.5);
}

.form-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-container label {
  font-size: 14px;
  color: #ccc;
}

.form-container input,
.form-container textarea {
  width: 100%;
  margin: 8px 0 16px;
  padding: 10px;
  background: #2b2b2b;
  border: none;
  border-radius: 8px;
  color: white;
}

.form-container textarea {
  resize: none;
  height: 80px;
}

.form-container button {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  background: #2a2a2a;
  color: #fff;
  border: none;
  cursor: pointer;
}

.form-container button:hover {
  background: #3a3a3a;
}

/* CARDS */
.card-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 40px;
  flex-wrap: wrap;
}

.card {
  width: 260px;
  background: #1e1e1e;
  padding: 20px;
  border-radius: 16px;
  text-align: center;
}

.card img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 12px;
}

.card h3 {
  margin-bottom: 5px;
}

.card .role {
  color: #aaa;
  font-size: 14px;
  margin-bottom: 10px;
}

.card p {
  font-size: 14px;
  color: #ccc;
}
